@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap");

:root {
  --primary-black: #000000;
  --primary-neutral: #404040;
  --primary-white: #ffffff;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-500: #71717a;
  --zinc-800: #27272a;
  --error-500: #ef4444;
}

* {
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
}

/*Typography*/

.heading-regular {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.heading-semibold {
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.heading-bold {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-extrabold {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.outlined-regular {
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.02em;
  -webkit-text-stroke: 1px #000;
  color: transparent;
}

.outlined-semibold {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.02em;
  -webkit-text-stroke: 1px #000;
  color: transparent;
}

.outlined-bold {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.02em;
  -webkit-text-stroke: 1px #000;
  color: transparent;
}

.outlined-extrabold {
  font-size: 28px;
  line-height: 28px;
  font-weight: 800;
  letter-spacing: -0.02em;
  -webkit-text-stroke: 1px #000;
  color: transparent;
}

.subheading-regular {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.subheading-semibold {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.subheading-bold {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.subheading-extrabold {
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.heading-h1-regular {
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.heading-h1-semibold {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.heading-h1-bold {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-h1-extrabold {
  font-size: 36px;
  line-height: 44px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.heading-h2-regular {
  font-size: 33px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.heading-h2-semibold {
  font-size: 33px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.heading-h2-bold {
  font-size: 33px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-h2-extrabold {
  font-size: 33px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.heading-h3-regular {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.heading-h3-semibold {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.heading-h3-bold {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-h3-extrabold {
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.heading-h4-regular {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.heading-h4-semibold {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.heading-h4-bold {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-h4-extrabold {
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.heading-h5-regular {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.heading-h5-semibold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.heading-h5-bold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-h5-extrabold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.heading-h6-regular {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.heading-h6-semibold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.heading-h6-bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-h6-extrabold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.paragraph-p1-regular {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.paragraph-p1-semibold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.paragraph-p1-bold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.paragraph-p1-extrabold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.paragraph-p2-regular {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.paragraph-p2-semibold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.paragraph-p2-bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.paragraph-p2-extrabold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.paragraph-p3-regular {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.paragraph-p3-semibold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.paragraph-p3-bold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.paragraph-p3-extrabold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.button-text-regular {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.button-text-semibold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.button-text-bold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.button-text-extrabold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.button-text2-regular {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.button-text2-semibold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.button-text2-bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.button-text2-extrabold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.underlined-regular {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-decoration: underline;
}

.underlined-semibold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-decoration: underline;
}

.underlined-bold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-decoration: underline;
}

.underlined-extrabold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-decoration: underline;
}

/*Button properties*/

.button-primary {
  background-color: var(--primary-black);
  color: var(--primary-white);
  height: 56px;
  border-radius: 4px;
  padding: 16px 20px;
}
.button-primary:hover {
  background-color: var(--primary-neutral);
}
.button-primary:active {
  background-color: var(--primary-white);
  color: var(--primary-black);
  border: 2px solid var(--primary-black);
}
