@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap");

:root {
  --primary-black: #000000;
  --primary-neutral: #404040;
  --primary-white: #ffffff;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-500: #71717a;
  --zinc-800: #27272a;
  --error-500: #ef4444;
}

* {
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
}

/*Typography*/

.heading-regular {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.heading-extrabold {
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.outlined-extrabold {
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
  letter-spacing: -0.02em;
  background-color: var(--primary-black);
  background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 8);
  -webkit-background-clip: text;
  color: var(--primary-white);
  padding: calc(calc(1em / 8) / 2);
  /* text-shadow: 2px 2px 0 #ffffff, -1px 4px 0 #000, 4px 0px 0 #000,
    4px 4px 0 #000, 0 0 0px #000;
  color: transparent; */
}

@media (min-width: 768px) {
  .outlined-extrabold {
    font-size: 48px;
    line-height: 28px;
  }
  .heading-regular {
    font-size: 48px;
    line-height: 56px;
  }
  .heading-extrabold {
    font-size: 48px;
    line-height: 56px;
  }
  .heading-h4-semibold {
    font-size: 24px;
  }
  .heading-h2-bold {
    font-size: 33px !important;
  }
  .heading-h3-semibold {
    font-size: 28px !important;
  }
  .button-text-semibold {
    font-size: 20px !important;
  }
}

.heading-h2-bold {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-h3-semibold {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.heading-h4-semibold {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.heading-h5-semibold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.heading-h5-bold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-h6-semibold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.paragraph-p2-regular {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.button-text-semibold {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
}
/*Button properties*/
.button-primary {
  background-color: var(--primary-black);
  color: var(--primary-white);
  height: 56px;
  border-radius: 4px;
  padding: 16px 20px;
  border: 2px solid var(--primary-black);
}
.button-primary:hover {
  background-color: var(--primary-neutral);
  border: 2px solid var(--primary-neutral);
}
.button-primary:active {
  background-color: var(--primary-white);
  color: var(--primary-black);
}
