<div class="w-full flex justify-between px-5 md:px-20 py-5 bg-black">
  <a href="#" class="flex items-center">
    <img src="/assets/logo.png" class="h-8 invert" alt="Logo" />
    <span class="heading-h5-bold text-white">Personal</span>
  </a>
  <div class="flex flex-col items-end">
    <h6 class="w-fit text-white text-xs md:text-sm">@ 2019-2023 Personal</h6>
    <h6 class="w-fit text-white text-xs md:text-sm">Made In Figma</h6>
  </div>
</div>
